<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="card" th:fragment="form(formElements)">
    <div class="card-body">
        <h5 class="card-title" th:text="${pageName}">Floating labels Form</h5>

        <!-- Floating Labels Form -->
        <form class="row g-3" onsubmit="return false;" th:id="|${#strings.toLowerCase(pageName)}Form|">
            <div class="col-md-12" th:class="|col-md-${formElement.size} ${pageName}FormElement|"
                 th:each="formElement : ${formElements}">
                <div th:replace="~{admin/fragments/fragment-form-element :: formElement(${formElement})}"></div>
            </div>

            <th:block th:if="${detailFormElements != null} and ${#lists.size(detailFormElements) > 0}">
                <hr>
                <div class="text-center">
                    <button class="btn btn-outline-primary" onclick="addDetail('detail')" type="button">
                        <i class="bi bi-plus me-1"></i>
                    </button>
                </div>
                <div class="row detail mt-3">
                    <div class="col-md-12" th:class="|col-md-${detailFormElement.size} ${pageName}DetailFormElement|"
                         th:each="detailFormElement : ${detailFormElements}">
                        <div th:replace="~{admin/fragments/fragment-form-element :: formElement(${detailFormElement})}"></div>
                    </div>
                </div>
            </th:block>

            <div class="text-center">
                <button class="btn btn-primary" th:onclick="save()">저장</button>
                <button class="btn btn-secondary" type="reset">초기화</button>
            </div>
        </form><!-- End floating Labels Form -->
    </div>
</div>
</body>
</html>